<h1>{{title}}</h1>
<nav>
    <!-- RouterLink 导航到哪里 -->
    <a routerLink="/displaydata" routerLinkActive="active">显示数据</a>
    <a routerLink="/clickme" routerLinkActive="active">用户输入</a> <!-- routerLinkActive 激活组件时添加 active 的 class 属性 -->
    <a routerLink="/form" routerLinkActive="active">表单</a>
    <a routerLink="/template" routerLinkActive="active">模板语法</a>
    <a routerLink="/animation" routerLinkActive="active">动画</a>
</nav>
<!-- RouterOutLet 应用导航时，会显示激活的组件 -->
<router-outlet></router-outlet>