<h2>{{title}}</h2>
<div>
    <label>英雄的名字:</label>
    <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
        添加
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <!-- [class.seleced] 如果表达式为 true 则添加 selected 的 class -->
        <span class="badge">{{hero.id}}</span><span>{{hero.name}}</span>
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>
    我是超级英雄：{{selectedHero.name | uppercase}}
  </h2>
    <button (click)="gotoDetail()">查看详情</button>
</div>
